In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

In [3]:
# Load the csv exported in Part I to a DataFrame
vacation_df = pd.read_csv("city_weather.csv")
vacation_df.head()

,Unnamed: 0,Lat,Lng,City,Country,Temperature,Humidity,Cloud cover,Wind speed
0,0,25.053295,-178.602956,kapaa,us,25.99,81.0,75.0,1.79
1,1,-25.239147,70.669146,bambous virieux,mu,24.56,73.0,75.0,6.17
2,2,-61.578305,171.579034,bluff,nz,6.00,91.0,100.0,2.05
3,3,-12.041669,174.972461,asau,tv,22.51,84.0,89.0,1.26
4,5,-39.468274,-33.975007,arraial do cabo,br,16.75,75.0,100.0,2.45

 Humidity Heatmap

In [33]:
# Configure gmaps
gmaps.configure(api_key=g_key)
# Lat and Lng as locations and Humidity as the weight.Add Heatmap layer to map
locations = vacation_df[["Lat", "Lng"]]
humidity = vacation_df["Humidity"]
map_1 = gmaps.figure(zoom_level=2, center=[20,50])
heatmap_1 = gmaps.heatmap_layer(locations, weights=humidity, max_intensity=350, point_radius=6, dissipating=False)
map_1.add_layer(heatmap_1)
map_1

Figure(layout=FigureLayout(height='420px'))

In [46]:
#  Create new DataFrame fitting weather criteria
ideal_vacation = vacation_df[vacation_df["Temperature"]>=25 & vacation_df[vacation_df["Temperature"]<=40]

# Narrow down the cities to fit weather conditions.Drop any rows will null values

SyntaxError: unexpected EOF while parsing (<ipython-input-46-c8b85ac3f90c>, line 4)

In [62]:
#  Create new DataFrame fitting weather criteria
ideal_vacation = vacation_df[vacation_df["Temperature"]>=25]
ideal_vacation = ideal_vacation[ideal_vacation["Temperature"]<40]
ideal_vacation = ideal_vacation[ideal_vacation["Wind speed"]<10]
ideal_vacation = ideal_vacation[ideal_vacation["Cloud cover"]<20]
ideal_vacation

,Unnamed: 0,Lat,Lng,City,Country,Temperature,Humidity,Cloud cover,Wind speed
8,11,34.239527,137.035796,toba,jp,30.00,72.0,12.0,3.25
13,17,38.510491,51.071532,rudsar,ir,31.03,59.0,4.0,4.08
75,95,30.179670,157.062740,hasaki,jp,30.16,72.0,6.0,4.68
82,109,34.932178,21.465010,methoni,gr,29.92,68.0,0.0,6.38
96,133,21.159577,-64.618900,road town,vg,27.33,78.0,12.0,9.16
...,...,...,...,...,...,...,...,...,...
493,1236,46.756899,87.504361,altay,cn,33.24,16.0,3.0,3.58
498,1249,13.910663,9.496419,zinder,ne,28.98,65.0,0.0,7.20
503,1267,45.186807,11.340316,legnago,it,30.47,47.0,0.0,3.80
522,1339,-23.540723,126.775098,yulara,au,25.91,18.0,0.0,6.69
523,1340,16.928061,-105.260860,manzanillo,mx,25.08,90.0,17.0,0.54

In [20]:
# Hotel Map
# Store into variable named hotel_df.Add a "Hotel Name" column to the DataFrame.
# Set parameters to search for hotels with 5000 meters.
# Hit the Google Places API for each city's coordinates.
# Store the first Hotel result into the DataFrame.
# Plot markers on top of the heatmap.

url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

param = {
    "key":g_key,
    "radius":5000,
    "type":"lodging",
    "location": "-31.9523, 115.8613"
}
# param["location"] = f"{lat},{lng}"
ret = requests.get(url, params=param).json()

In [21]:
ret["results"][0]

{'business_status': 'OPERATIONAL',
 'geometry': {'location': {'lat': -31.95436680000001, 'lng': 115.8529193},
  'viewport': {'northeast': {'lat': -31.9529586697085,
    'lng': 115.8541703802915},
   'southwest': {'lat': -31.9556566302915, 'lng': 115.8514724197085}}},
 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
 'name': 'Parmelia Hilton Perth',
 'photos': [{'height': 3000,
   'html_attributions': ['<a href="https://maps.google.com/maps/contrib/105287034285661705751">Parmelia Hilton Perth</a>'],
   'photo_reference': 'Aap_uEDgiXPLh0tocbXl3MXYBGMlpm1UtMPyiS99k0z87WlKNprl71Wt8qG6YrU-rDHy3de3EYDWl038eWw36CTIF-wQX9gwq1cuNundYXX8tw2nyywxoGn4xjxO4XiDL6qtxLvEkyLAEVQozmH3XeTeQWFzBAp-3kRDw3RwuahJICpbvd6f',
   'width': 4507}],
 'place_id': 'ChIJQdM1JtW6MioRxAJto5QX2Qw',
 'plus_code': {'compound_code': '2VW3+75 Perth WA, Australia',
  'global_code': '4PWQ2VW3+75'},
 'rating': 4.2,
 'reference': 'ChIJQdM1JtW6MioRxAJto5QX2Qw',
 'scope': 'GOOGLE',
 'types': ['lodging', 'point_of_interest', 'establishment'],
 'user_ratings_total': 1436,
 'vicinity': '14 Mill Street, Perth'}

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure